
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(images/sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    text-align: center;
}

.hero h2 {
    position: absolute;
    top: 50px;
    padding: 10px 10px;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    border: 10px solid black;
    border-width: 5px;
}

.higway {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: higway 5s linear infinite;
    height: 200px;
    width: 500%;
    background-repeat: repeat-x;
    display: block;
    background: url(images/road.jpg);
}

@keyframes higway {
    100% {
        transform: translateX(-3400px);
    }
}

.city {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 200px;
    display: block;
    z-index: 1;
    height: 250px;
    width: 500%;
    background: url(images/city.png);
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}

@keyframes city {
    100% {
        transform: translateX(-1400px);
    }
}

.car {
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.car img {
    width: 100%;
    animation: driving 1s linear infinite;
}

@keyframes driving {
    100% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(1px);
    }

    0% {
        transform: translateY(-1px);
    }
}

.wheels {
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.wheels img {
    width: 72px;
    height: 72px;
    animation: rotationWheel 1s linear infinite;
}

.back-wheel {
    position: absolute;
    left: -165px;
}

.front-wheel {
    position: absolute;
    left: 80px;
}

@keyframes rotationWheel {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .higway {
        animation: higway 7s linear infinite;
        width: 1500%;
    }

    .hero h2 {
        top: 25px;
        font-size: 35px;
        width: 90%;
        white-space: normal;
    }
}
